* {
	font-family: Mont, Verdana, Brutel, sans-serif;
	/* border: solid red 1px; */
}

.background {
	background-color: darkslategrey;
	color: white;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 3vh;
	height: 5vh;
	font-weight: 900;
	padding-top: 1vh;
	padding-bottom: 0.5vh;
	background-image: linear-gradient(darkslateblue, #382F6C);
	/* background-color: darkslateblue; */
}

.header-right {
	padding-right: 5vw;
}

.header-left {
	padding-left: 3vw;
}

.grid {
	height: 93.5vh;
	display: flex;
	flex-direction: column;
}

.verticals {
	display: flex;
	flex-direction: column;
	border-color: yellow;
}

.horizontals {
	display: flex;
	flex-direction: row;
}

.grid-boxes {
	border: 0.05vh #264040 solid;
	width: 3vh;
	height: 3vh;
}


.button {
	border-radius: 1vh;
	font-size: 2.2vh;
	font-weight: 700;
	border-style: double;
}

.color {
	width: 8vw;
	/* padding-right: 5vw; */
}

.R {
	background-color: #D44A4A;
}

.B {
	background-color: #4A94D4;
}

.G {
	background-color: #73D44A;
}

.Random {
	width: 14vw;
	background: linear-gradient(red, orange, yellow, green, blue, indigo)
	/*Sorry violet, indigo is enough for a purple color!*/
}

.reset {
}